<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Angular 1 LNews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }
    </style>
</head>

<body ng-app="ng1RNews">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view>
        </div>
    </div>

    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Angular 1 Links</h1>
        </div>

        <div ng-repeat="post in posts | orderBy: '-upvotes' ">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post) "></span> {{post.upvotes}}
            <span style="font-size:20px; margin-left:10px;">
                  <a ng-show="post.link " href="{{post.link}}" target="_blank">{{post.title}}</a>
                  <span ng-hide="post.link ">{{post.title}}</span>
            </span>
            <span>
                  <a href="#/posts/{{$index}}">Comments</a>
            </span>
        </div>

        <form ng-submit="addPost()" style="margin-top:30px;">
            <h3>Add a new post</h3>
            <div class="form-group">
                <input type="text " placeholder="Title " ng-model="title "></input>
            </div>
            <div class="form-group">
                <input type="text " placeholder="Link " ng-model="link "></input>
            </div>
            <button type="submit ">Post</button>
        </form>
    </script>


    <script type="text/ng-template" id="/posts.html">
        <div class="page-header">
            <h3>
                    <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
                    <span ng-hide="post.link">{{post.title}}</span>
              </h3>
        </div>
        <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span> {{comment.upvotes}} - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">{{comment.body}}</span>
        </div>

        <form ng-submit="addComment()" style="margin-top:30px;">
            <h3>Add a new comment</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </script>
</body>

</html>
